DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public

#DATABASE_URL=postgresql://kazi:q9PPAwUUNWBHAAHApdSyrvClTDjcgw3x@dpg-cuoudc2j1k6c739dl71g-a.singapore-postgres.render.com/nezueladb_dlfl
